<form method="post" action="/users/forgot">
<legend>Forgot Password</legend>
<div class="form-group"></div>
<label for="email">Email</label>
<input class="form-control" type="text" name="email" autofocus="autofocus"/>
<button class="btn btn-primary" type="submit">Reset Password</button>
</form>